COMPOSE_PROJECT_NAME=webshop_183

DB_HOST=localhost
DB_PORT=6033
DB_USER=Latif_app
DB_PASS=supertufflatifpasswordAPP
DB_NAME=webshop
DB_PEPPER="SkibidiLatif"
JWT_SECRET="SkibidiKrasniqi"
JWT_REFRESH_SECRET="LatifKrasniqi67"